@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

*{
    margin: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/assets/images/portadapm.webp');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__links:hover {
    color: #06b9af;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}

/* Hero container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

/* About */

.about {
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.about__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__picture{
    max-width: 500px;
}

.about__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.about__img{
    width: 100%;
    display: block;
}

/* Eventos */

.events{
    background-color: #ddf8f6;
}

.events__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.events__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.events_title {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 60px;
}


.events__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.events__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.events__texts{
    max-width: 700px;
}

.events__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.events__arrow{
    width: 90%;
    cursor: pointer;
}

.cta {
    display: inline-block;
    background-color: var(--color-title);
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    margin-top: 10px;
}


/* Galeria*/

.gallery-img {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,280px));
    column-gap: 10px;
    row-gap: 10px;
}

.gallery img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

.gallery_title {
    color: var(--color-title);
    font-size: 2rem;
    text-align: center;
    padding-top: 60px;
}

/* Visitar */

.visit{
    text-align: center;
}

.visit__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.visit__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #54d4bf;
    border-radius: 6px;
}

.visit__padding--add{
    padding-bottom: 30px;
}

.visit__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.visit__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.visit__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.visit__arrow--rotate{
    transform: rotate(180deg);
}

.visit__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.visit__img{
    display: block;
}

.visit__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Video */

.v-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}

.v-responsive iframe, .v-responsive object, .v-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
    
/* Footer */

.footer{
    background-color: #1D293F;
}

.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
    
}


/*--------- Noticias.html ----------*/

/* Hero container */

.hero__noticias {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero__noticias::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #182133 0%, #1D293F 100%);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 80%, 0 60%);
    z-index: -1;
}

.hero__noticias__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__noticias__title {
    font-size: 3rem;
}

/* Noticias */

.site__container {
    margin: 2rem auto;
    max-width: 1200px;
    padding-bottom: 80px;
}

.art__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    
}

.art__image {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.art__image img {
    max-width: 100%;
    height: auto;
}

.art__card {
    background: rgb(243, 247, 247);
    transition: 0.3s;
}

.art__card:hover {
    box-shadow: 0 4px 20px 0 rgba(34,68,123,0.2);
}

.art__content {
    padding: 2rem;
}

.art__content .card__category {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color:darkcyan;
    text-decoration: none;
}

.art__content .card__title {
    margin: 1rem 0;
    color: var(--color-title);
}

.art__content .card__paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-price);
    margin: 0;
}


/* Modal */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
    overflow-y: auto;
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__img{
    width: 90%;
    max-width: 800px;
}

.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: var(--color-title);
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: var(--color-title);
    background-color: #fff;
}

/* Alquiler puerto madero*/

.hero__alquiler {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero__alquiler::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/assets/images/alquilerpm.webp');
    background-size: cover;
    z-index: -1;
}

.about {
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.about__container__alquiler{
    display: flex;
    align-items: center;
}

.subtitle__alquiler {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: center;
}

.about__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.alquiler__img img {
    width: 100%;
}


/* Formulario */

form{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(243, 247, 247);
    width: 600px;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px;
}

input, textarea{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}


input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #03bdbd, #0bacdd);
    transition: 0.3s ease all;
    left: 0%;
}
button{
    background: var(--color-title);
    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

/* Media queries */

@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
    }

    .hero__noticias__title{
        font-size: 2.5rem;
    }

    .about__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .about__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .events__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .events__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .events__img{
        width: 200px;
        height: 200px;
        
    }

    .visit__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .modal__container{
        padding: 2em 1.5em;
    }

    .modal__title{
        font-size: 2rem;
    }

    form{
        width: 90%;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}

@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__noticias__title{
        font-size: 2.5rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .card__element{
        width: 90%;
    }

    .card__price{
        font-size: 2rem;
    }

    .events{
        --padding-container: 60px 0;
    }

    .events__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .events__arrow{
        width: 100%;
    }

    .events__course{
        margin-top: 15px;
    }

    .visit__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    form{
        width: 90%;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}
